.card {     
  font-family: Helvetica;
      text-align: center;
       border: grey solid 1px;
            padding: 1rem;   
          width: 23rem;  
            height: 25rem;  
            display: inline-grid;
            margin: 1rem 2rem;  
          box-shadow: 3px 4px #e04b52; 
          background-color: #E0FFFF;
             }

             
img {
  height: 125px;
  width: 125px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  border: 2.5px dotted black;
    }

span, a {
  
    border: 2.5px dotted black;
}
.comments {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: 0rem;
  border: 2.5px dotted black;
}

.header {
  height: 175px;
  width: 550px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 0rem;
  box-shadow: 3px 4px #e04b52;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(218, 31, 31, 0.685);
}

h1 {
  font-family: Helvetica;
  font-size: 38px;
  text-align: center;
  border: 4.0px dotted black;
  color: purple;
}

h2{ 
  font-family: Helvetica;
  font-size: 24px;
  text-align: center;
  border: 4.0px dotted black;
  color: purple; 
}
body {
background-image: url('backgroundimage.png');

}
